<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <!-- DB接続情報 -->
    <add key="ConnectionString" 
         value="server=localhost\NWJ;User ID=sa;Password=NWJ;Connection Timeout=180;Initial Catalog=MyTradeDB;Max Pool Size=300" />
    <!--施設ID -->
  </appSettings>
</configuration>